{{ define "main" }}
{{ if .Menus }}
<nav class="post-navigation">
    {{ range .Menus }}
    <a href="{{ .ConfiguredURL | absLangURL }}" title="{{ .Title }}">{{ .Name | markdownify }}</a>
    {{ end }}
</nav>
{{ end }}

<article class="post h-entry">
    <div class="post-header">
        <header>
            <h1 class="p-name post-title">{{ trim .Title " " | markdownify }}</h1>
        </header>
    </div>
    {{ partial "post-info.html" . }}
    <div class="content e-content">
        {{ .Content }}
    </div>
</article>
{{ end }}
