<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ if and (.Title) (not .IsHome) }}{{ .Title | markdownify }} - {{ end }}{{ .Site.Title | markdownify }}</title>
<meta name="description" content="{{ .Description }}">

{{ with .Keywords }}
    <meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }},{{ end }}{{ $e }}{{ end }}">
{{ end }}

<link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}">
<link rel="apple-touch-icon-precomposed" href="{{ "favicon.png" | absURL }}">

{{ partial "resource.html" (dict "context" . "type" "css" "filename" "css/main.css") }}

{{ partial "resource.html" (dict "context" . "type" "js" "filename" "js/copy-code.js") }}

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">

<!-- Metrics -->
<script data-goatcounter="https://ustitc.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
