<div class="header-top">
    <div class="header-top-left">
        <h1 class="site-title">
            <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a>
        </h1>
    </div>
    <div class="header-top-right">
        {{ partial "social.html" . }}
    </div>
</div>

{{ if .Site.Menus.main }}

<nav>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <a class="{{if or ($currentPage.IsMenuCurrent " main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}"
    href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
</nav>
{{ else }}
<nav></nav>
{{ end }}